@opencontext:registry=https://us-npm.pkg.dev/vpc-host-nonprod-345521/np-npm/
//us-npm.pkg.dev/vpc-host-nonprod-345521/np-npm/:always-auth=true
@techdocs:registry=https://us-npm.pkg.dev/vpc-host-nonprod-345521/np-npm/
//us-npm.pkg.dev/vpc-host-nonprod-345521/np-npm/:always-auth=true

registry=https://registry.yarnpkg.com/
engine-strict=true
